body {
    flex-wrap: wrap;
}

header {
    font-size: 25pt;
    margin-bottom: 10px;
    padding: 10px;
}

header, #rules, #game, footer {
    text-align: center;
}

footer {
    font-size: 15pt;
}

main {
    display: flex;
}

#rules img {
    width: 350pt;
    height: 270pt;
}

#game img {
    width: 200pt;
    height: 300pt;
    margin-bottom: 10pt;
}

#game, #rules {
    padding: 10pt;
}

#game p, #letter, #word, label {
    padding: 5pt;
    font-size: larger;
}

button {
    border: 3pt solid purple;
}

body, button {
    background-color: white;
}

#game, button {
    font-weight: bold;
}

input {
    margin: 2pt;
    height: 6pt;
}

#letter {
    width: 20pt;
}

#word {
    width: 70pt;
}

#rules, #game {
    min-width: 500pt;
}

#game {
    align-items: center;
}

#rules, header, footer, #game, #corr, #incorr {
    border: 5pt solid white;
    box-shadow: 2pt 2pt purple;
}

#corr, #incorr {
    text-align: left;
}

#rules p {
    padding: 4pt;
    font-size: 16pt;
}

#rules h2 {
    font-size: 22pt;
}


header, main, footer {
    background-color: rgb(179, 141, 208);
    color: black;
}

