/*
Name: Favour Okodogbe
Date: April 30
CS 132

This is jasper-styles.css, it is the css file to style one
of the pages of my hamster website about my pet Jasper. 
This css add the details for the page about Jasper
with his picture and fun facts.
*/
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

body {
  background-color: #010101;
  /* Using imported Google Font (remember the default font family!) */
  font-family: "Gill Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px; /* gives some padding inside the body to center its contents a bit more */
  /* Flex layout covered next week */
  height: 100px;
  flex-direction: column;
}

body, main{
  display: flex;
}

main {
  flex-grow: 2;
}

h1, h2, h3, h4 {
  font-size: 20pt;
}

p, ul, li {
  font-size: 14pt;
}

body > header, section {
  width: 100%;
}

section {
	background-color: #FFD700;
  padding: 40px;
}

aside, section header, article, h1, p {
  margin-right: 10px;
}

aside {
  background-color: #3d76e9;
  padding: 5px;
  width: 110%;
}


figure {
  width: 90%; /* one way to center block elements */
}

figure img {
  /* To fix overflow of image width in its figure parent */
  width: 75%;
}

figcaption {
	text-align: left;
  font-weight: bold;
}

h1, footer {
  text-align: center;
}

header {
  background-color: #f81b1b88;
}

footer {
  background-color: #f6cfcf88;
}

p {
	background-color: #e8e8e888; 
}

section header, article, h1, p {
	padding: 15px;
	margin-left: 10px;
}

/* This uses a combinatorial selector to select headers DIRECTLY inside the body
 * (selecting no the other headers) */
body > header {
  line-height: 60px;
  margin: 15px auto;
}

