body, #house-container img, button {
    background-color: rgb(255, 255, 255);
}

header, #back-btn, #alert-btn, footer {
  background-color: rgb(244, 163, 34);
}

header, #house-container img, button, footer {
  border: 2pt solid rgb(0, 0, 0);
}

#house-container article, #back-btn, #alert-btn {
  border: 5pt solid rgb(0, 0, 0);
}

header, #house-info, #house-container article, footer {
  text-align: center;
}

#house-container, #house-container article, button {
  padding: 5pt;
}

#house-container {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  font-style: oblique;
}
  
#house-container article {
  margin: 15pt;
  width: 120pt;
  height: 210pt;
  color: white;
}

#house-container img {
  max-width: 100pt;
  height: 110pt;
}

#dabney {
  background-color: rgb(50, 105, 20);
}

#blacker {
  background-color: rgb(0, 0, 0);
}

#fleming {
  background-color: rgb(190, 22, 22);
} 

#avery {
  background-color: rgb(55, 21, 94);
} 

#ricketts {
  background-color: rgb(94, 37, 21);
} 

#venerable {
  background-color: rgb(21, 28, 94);
} 

#page {
  background-color: rgb(36, 55, 225);
} 

#lloyd {
  background-color: rgb(215, 197, 35);
} 

button {
  font-weight: bold;
  width: 100pt;
  height: 40pt;
}

#back-btn, #alert-btn {
  margin-bottom: 10pt;
}

#alert-btn {
  width: 200pt;
  height: 60pt;
}

.hidden {
  display: none;
}

